@font-face{
    font-family: "Fake Identity";
    src:url(fonts/Fake\ Identity.ttf)
}


h1{
    color:green;
    letter-spacing: 2px;
    word-spacing: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    text-decoration: overline;
    font-family: "Fake Identity";
}

h3{
    text-decoration: underline;
}

h4{
    text-decoration: line-through;

}

p{
    text-indent: 50px;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
}

.myElement{
    font-size: 70px;
}
a:link{
    color: red;
}

a:visited{
    color:green;
}

a:hover{
    color: blueviolet;
}
a:active{
    color:blue;
}